@using hospins.Repository.Infrastructure;
@model hospins.Models.SubCategoryModel
@{
    ViewData["Title"] = "Manage SubCategory";
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h5 class="modal-title" id="exampleModalLongTitle">Manage SubCategory</h5>
</div>
<form asp-area = "EmployeePanel" asp-controller="Logbook" asp-action="ManageSubCategory" method="post" id="frmSubCategory" role="form">
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <input type="hidden" asp-for="SubCategoryId" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>SubCategory&nbsp;<span class="text-danger">*</span>:</label>
            <input type="text" class="form-control" asp-for="Name" autocomplete="off" maxlength="250" autofocus />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label>Category&nbsp;<span class="text-danger">*</span>:</label>
            <drop-down-list asp-for="CategoryId" asp-mode="Category" asp-default="Select Category"></drop-down-list>
            <span class="text-danger" asp-validation-for="CategoryId"></span>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label>Is Active&nbsp;:</label>
                    <div class="col-md-12 padd-left-right-0">
                        <label class="switch small-switch switch-danger">
                            <input type="checkbox" asp-for="IsActive"/>
                            <span class="switch-slider"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="form-group">
                    <label>Sort Order&nbsp;:</label>
                    <input type="text" class="numberwithfloat form-control" asp-for="SortOrder" autocomplete="off"/>
                    <span class="text-danger" asp-validation-for="SortOrder"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
</form>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/jquery.validate.unobtrusive.min.js"></script>
<script>
    $("#CategoryId").select2({
        placeholder: "Select option",
        allowClear: true
    });
</script>